/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2019, 11:53:56 PM
    Author     : Nurielmeni
*/

.bg-white {
  background-color: #ffffff;
}
.fg-white {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}
.fg-black {
  color: #000000;
}

.bg-blue {
  background-color: #5378ae;
}
.fg-blue {
  color: #5378ae;
}

.bg-dark-gray {
  background-color: #7b7b7b;
}
.fg-dark-gray {
  color: #7b7b7b;
}

.bg-light-bleu {
  background-color: #d1e1f0;
}
.fg-light-blue {
  color: #d1e1f0;
}

.bg-green {
  background-color: #6fad3d;
}
.fg-green {
  color: #6fad3d;
}
