/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2019, 11:53:56 PM
    Author     : Nurielmeni
*/
:root {
  --blue: #5378ae;
  --gray: #efefef;
  --green: #6fad3d;
  --red: #992e2e;
}

.bg-white {
  background-color: #ffffff;
}
.fg-white {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}
.fg-black {
  color: #000000;
}

.bg-blue {
  background-color: var(--blue, #5378ae);
}
.fg-blue {
  color: var(--blue, #5378ae);
}

.bg-gray {
  background-color: var(--gray, #efefef);
}
.fg-gray {
  color: var(--gray, #efefef);
}

.bg-green {
  background-color: var(--green, #6fad3d);
}
.fg-green {
  color: var(--green, #6fad3d);
}

.fg-red {
  color: var(--red, #992e2e);
}

.bg-red {
  background-color: var(--red, #992e2e);
}

.fg-transparent {
  color: transparent;
}
.bg-transparent {
  background-color: transparent;
}
