/** RESPONSIVE CSS **/

@media all and (max-width: 800px) {
  form div.row {
    flex-direction: column !important;
  }

  form input,
  form textarea {
    width: 100%;
  }
}

@media all and (max-width: 767.9px) {
  #search-form {
    flex-direction: column;
  }

  .header-content h1 {
    font-size: 3rem;
  }

  .header-content > section ul.social {
    display: none;
  }

  .header-content > section {
    justify-content: center !important;
  }

  .xs-down {
    display: block;
  }

  .xs-up {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .xs-down {
    display: none;
  }

  .xs-up {
    display: block;
  }
}
