/** RESPONSIVE CSS **/

@media all and (max-width: 910px) {
  nav.kivoon-nav {
    background-color: var(--blue, #5378ae);
    padding-top: 2rem;
    margin-top: 1rem;
  }

  nav.kivoon-nav p {
    color: white;
  }
}

@media all and (max-width: 800px) {
}

@media all and (max-width: 767.9px) {
  form div.row {
    flex-direction: column !important;
  }

  form input,
  form textarea {
    width: 100%;
  }

  form .form-group {
    padding-top: 0.75rem;
  }

  form .form-group .form-control {
    font-size: 1.2rem;
  }

  form .help-block {
    font-size: 1rem;
  }

  form button[type="submit"] {
    height: 2.75rem;
    font-size: 1.5rem;
    width: 100%;
  }

  form .form-group .form-control {
    height: 2.75rem;
  }

  label[for="applyform-cvfile"] {
    font-size: 1.2rem;
    padding: 0.5rem 1.75rem;
  }

  #search-form {
    flex-direction: column;
  }

  #search-results {
    padding: 0 1rem;
  }

  div.search-form,
  #search-results > div.container,
  #search-results > div.container .job-wrapper h2 {
    font-size: 1.3rem;
  }

  .header-content h1 {
    font-size: 3rem;
  }

  .header-content > section ul.social {
    display: none;
  }

  .header-content > section {
    justify-content: center !important;
  }

  .xs-down {
    display: block !important;
  }

  .xs-up {
    display: none !important;
  }

  section.social-share-header {
    margin-top: 0;
  }
}

@media all and (max-width: 680px) {
  .header-content h1 {
    font-size: calc(1rem + 6vw);
  }

  .header-content > .home-element.main-content {
    background: #efefef;
    margin-top: calc(16vw);
    padding-top: 2rem;
  }
}

@media all and (min-width: 768px) {
  .xs-down {
    display: none !important;
  }

  .xs-up {
    display: block !important;
  }
}
