* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: #5378ae;
  background-color: #efefef;
}

/*******  HEADER  *******/
header {
  position: relative;
  z-index: 10;
}

.header-content h1 {
  font-size: 5rem;
}

.overlay:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 50;
}

.overlay.white:after {
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay.black:after {
  background-color: rgba(0, 0, 0, 0.8);
}

#video-background {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 20;
  opacity: 0.2;
}

.logo-sofi {
  height: 100px;
  margin: 10px;
  object-fit: contain;
}

div.header-content {
  position: relative;
  z-index: 100;
}

/********   BG BORDERED CIRCLE    ********/
.bg-bordered-circle {
  content: " ";
  background-color: white;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.bg-bordered-circle::after {
  content: " ";
  background-color: white;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.5px solid #d0d0d0;
  position: absolute;
  z-index: 2;
}

.bg-bordered-circle > * {
  position: relative;
  z-index: 3;
}

/************     DIVIDER      ***********/
.arroe-divider {
  height: 4px;
  position: relative;
  z-index: 40;
}

.arroe-divider:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid;
  left: calc(50% - 1rem);
}

/************      HEADER      ***********/
section.social-share-header {
  padding: 1.75rem 0 2rem;
  margin-top: 80px;
}

section.social-share-header h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

section.social-share-header i.si,
section.social-share-header i.si:visited,
section.social-share-header i.si:active,
section.social-share-header i.si:focus {
  color: #5378ae;
  font-size: 1.5rem;
}

/**********   FORM INPUTS   ***********/
form button {
  cursor: pointer;
}

form .form-group {
  padding: 1rem;
  height: 100%;
}

form .form-group textarea.form-control {
  height: 100%;
}

form .form-group .form-control {
  border: none;
  height: 3.5rem;
  font-size: 2rem;
  padding: 0 0.5rem;
}

form .help-block {
  font-size: 1.25rem;
  text-align: right;
  color: #992e2e;
}

button[type="submit"],
button.apply {
  border: none;
  margin: 2rem 0;
  cursor: pointer;
}

label[for="applyform-cvfile"] {
  border: 1px solid;
  border-radius: 8px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.form-group.field-applyform-cvfile {
  padding-bottom: 0;
}

.form-group.field-applyform-cvfile .help-block {
  text-align: center;
}

.selected-file-name {
  padding-top: 0.5rem;
  font-size: 1.25rem;
}
/*********  END FORM INPUTS   *********/

/************      FOOTER      ***********/
footer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

footer > p > a {
  text-decoration: none;
  font-size: 10px;
}

footer ul.social-share {
  margin: 0;
}

footer i.si,
footer i.si:visited,
footer i.si:active,
footer i.si:focus {
  color: white;
  font-size: 1.7rem;
}

footer section.social-icons ul {
  margin: 0;
}
/************    END FOOTER    ***********/
