vendor/**
public_html/index.php
public_html/assets/**
./runtime/**
config/db.php
.cache
.bash*
.config
.local
.ssh
.viminfo
composer.lock
composer.phar
logs
yii
public_html/images/logo/.DS_Store
**/.DS_Store
.DS_Store
