version: "3.4"
services:
  # db:
  #   image: mysql:5.7
  #   restart: always
  #   command: --character-set-server=utf8 --collation-server=utf8_general_ci
  #   environment:
  #     MYSQL_DATABASE: "db"
  #     # So you don't have to use root, but you can if you like
  #     MYSQL_USER: "kivoonnew"
  #     # You can use whatever password you like
  #     MYSQL_PASSWORD: "Meni1971"
  #     # Password for root access
  #     MYSQL_ROOT_PASSWORD: "Meni1971"
  #   volumes:
  #     - kivoonnew-data:/var/lib/mysql
  php:
    build: .
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app:delegated
    # depends_on:
    #   - db
    environment:
      - PHP_ENABLE_XDEBUG=1
    ports:
      - "8000:80"
  # pma:
  #   image: phpmyadmin
  #   depends_on:
  #     - db
  #   environment:
  #     - PMA_ARBITRARY=1
  #   restart: always
  #   ports:
  #     - 8001:80
# volumes:
#   kivoonnew-data:
