/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/

div.search-form,
#search-results > div.container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.75rem;
  padding: 0 1rem;
}

#search-results > div.container .job-wrapper p {
  margin: 0.5rem;
}

#search-results > div.container .job-wrapper {
  padding: 1rem;
  margin-bottom: 2rem;
}

#search-results > div.container .job-wrapper h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

#search-results > div.container {
  padding: 2rem 0;
}

#search-results > div.container.leggend {
  padding-bottom: 0;
}

#search-results > div.container.leggend > p {
  font-size: 1.3rem;
  margin: 0;
}

#search-results button.show-job-details {
  position: relative;
}

#search-results button.show-job-details::after {
  content: " ";
  position: absolute;
  left: -1em;
  top: 0.25em;
  background: url("/images/icons/angle-arrow-down.svg") no-repeat;
  text-decoration: none;
  height: 0.75em;
  width: 0.75em;
  background-size: 0.75em;
  cursor: pointer;
}

#search-results button.show-job-details.up::after {
  transform: rotate(180deg);
}

#search-results button.show-job-details > div.up {
  transform: rotate(180deg);
}

div.search-form > form > div {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div.search-form > form > div.SumoSelect {
  max-width: 375px;
  width: 36%;
}

div.search-form > form > div.btn > button {
  width: 150px;
}

div.search-form .SumoSelect > .CaptionCont > * {
  cursor: pointer;
}

div.search-form .SumoSelect > .CaptionCont,
div.search-form > form > div.btn > button {
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-radius: 8px;
  cursor: pointer;
}

div.search-form .SumoSelect.open > .optWrapper {
  top: 3.6rem;
}

div.search-form .SumoSelect > .optWrapper {
  border-radius: 8px;
}

div.search-form .SumoSelect .select-all {
  height: auto;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-weight: lighter;
}

#search-results {
  min-height: calc(100vh - 635px);
  margin: 0 auto;
  z-index: 20;
  position: relative;
}

#apply-response {
  position: absolute;
  left: 50%;
  top: 50%;
}

/****** RESPONSIVE DESIGN ********/
@media all and (max-width: 999.9px) {
}

@media all and (max-width: 679.9px) {
  div.search-form > form {
    flex-direction: column;
  }

  div.search-form > form > div.SumoSelect {
    width: 100%;
  }

  div.search-form .SumoSelect > .CaptionCont,
  div.search-form > form > div.btn > button {
    height: 3rem;
  }
}

@media all and (min-width: 680px) {
}
